h1 {
    font-family: Helvetica, Calibri, sans-serif;
    color: #020202;
    margin: 3px 5% 5px;
    font-size: 36px;
    opacity: 1;
    font-weight: bold;
}
h2 {
    text-align: center; 
    color: #020202; 
    font-family: Verdana, Tahoma, sans-serif;
    margin: 10px 5% 5px;
    font-size: 28px;    
}
h3 {
    color: #020202; 
    font-family: Tahoma, Helvetica, sans-serif;
    margin: 0px 5% 5px;
    font-size: 24px;
}
h6 {
    color: #020202; 
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px 5% 5px;
    font-size: 18px;
    font-weight: bold;
}
p {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    margin: 0px 5% 5px;
    font-size: 16px;
    color: #020202;
}
a {
    text-decoration: none;
    color: #383838;
}
#navigation {
    background-color: lightblue;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    z-index: 1;
}
#background {
    z-index: 0;
    background-color: whitesmoke;
    opacity: 0.97;
    margin: 8.5% 10% 5%;
    padding: 20px;
}
#nav-bar {
    background-color: maroon;
    overflow: hidden;
    border: 5px solid maroon;
    opacity: 1;
}
#nav-bar a {
    float: left;
    display: block;
    color: red;
    background-color: lightpink;
    text-align: center;
    padding: 7px 16px 6px;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Trebuchet MS, sans-serif;
    border: 5px solid maroon;
    opacity: 1;
    transition: color 1s ease, background-color 1s ease ;
}
#nav-bar a:focus, #nav-bar a:hover {
    color: pink;
    background-color: red;
}
figure {
    width: 30%;
    text-align: center;
    font-style: oblique;
    font-size: smaller;
    text-indent: 0;
    border: thin silver solid;
    margin: 0.5em;
    margin-left: 5%;
    padding: 0.5em;
}
.floated-list {
    margin-left: 15%;
}
li p {
    margin: 05px;
}
.minor-categories {
    font-weight: bold;
    font-size: 18px;
}
